<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layaout"
      layout:decorate="~{layout}">
    <body layout:fragment="body">
        <div class="container">
            <h1>Empresas</h1>


            <div class="row">
                <a th:href="@{/empresa/formulario/{idempresa}(idempresa=0)}" class="col-md-12 btn btn-success grid gap-3"  >Agregar</a>
            </div>
            </br>
            <table class="table">
                <thead class= "table table-success table-striped">
                    <tr>
                        <th scope="col">Eliminar</th>
                        <th scope="col">IdEmpresa</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Telefono</th>
                        <th scope="col">Email</th>
                        <th scope="col">Direccion Web</th>
                        <th scope="col">Imagen</th>
                        <th scope="col">Actualizar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="empresa : ${empresas}">
                        <td>

                            <a th:href="@{/empresa/eliminar/{idempresa}(idempresa=${empresa.idempresa})}" class="btn btn-danger">
                                <i class="bi bi-trash3"></i>                           
                        </td>
                        <td th:text="${empresa.idempresa}"></td>
                        <td th:text="${empresa.nombre}"></td>
                        <td th:text="${empresa.telefono}"></td>
                        <td th:text="${empresa.email}"></td>
                        <td th:text="${empresa.direccionweb}"></td>
                        <td>
                            <img th:if="${empresa.imagen != null and empresa.imagen != ''}" th:src="'data:image/png;base64,' + ${empresa.imagen}" alt="Imagen Empresa" width="50" heigth="50" />
                            <img th:unless="${empresa.imagen != null and empresa.imagen != ''}" src="/imagen/AseguradoraLogo.png" style="max-width: 100%; max-height: 80px;" alt="Imagen por defecto" />
                        </td>
                        <td>
                            <a th:href="@{/empresa/formulario/{idempresa}(idempresa=${empresa.idempresa})}" class="btn btn-warning">
                                <i class="bi bi-pencil-square"></i>
                                
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </body>
</html>